/* font-family: 'Bungee', cursive; */
/* font-family: 'Julius Sans One', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
}

/* --------------NAVBAR-------------- */
#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
}

#logo img{
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 2px solid red; */
}

#navbar {
    position: relative;
}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#navbar::before {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar ul li {
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 13px 22px;
    margin: 4px 5px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    /* font-weight: bold;     */
}

#navbar ul li a:active {
    background-color: lightskyblue;
    color: black;
    /* font-weight: bold;     */
}


/* ------------------------------------- */
/* ----------------HOME----------------- */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    height: 80vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home::before {
    content: "";
    background: url(../img/bg1.jpg) no-repeat center center/cover;
    position: absolute;
    height: 90vh;
    width: 100%;
    z-index: -2;
    opacity: 0.9;
}

#home h1 {
    color: white;
    text-align: center;
}

.h-primary {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.4rem;
    padding: 12px;
    margin: 12px;
}

.btn {
    font-family: 'Julius Sans One', sans-serif;
    /* width: 220px; */
    height: 50px;
    padding: 6px 20px;
    font-size: 16px;
    border: 1px solid lightskyblue;
    margin: 10px 20px;
    cursor: pointer;
    background-color: rgba(32, 28, 28, 0);
    color: white;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: rgb(255, 255, 255);
}

.btn:active {
    background-color: rgba(135, 206, 250, 0.15);
    color: lightskyblue;
}

#home p {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.1em;
}

/* ------------Section Service-container-------------- */

.service-container {
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    background-color: rgb(19, 19, 19);
    color: white;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}


.h-primary-center {
    /* border: 2px solid lightskyblue;
    padding: 20px; */
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.8rem;
    margin: 20px;
    text-shadow: 2px 2px 5px lightskyblue;
}
.service-container:hover {
    background-color: azure;
    color: black;
}
#services {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 99%
}

#services .card {
    font-family: 'Julius Sans One', sans-serif;
    height: 440px;
    width: 235px;
    color: black;
    background-color: white;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 2px lightskyblue;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    flex-wrap: nowrap;
}
#services .card:hover {
    box-shadow: 10px 10px 5px 2px blueviolet;
    width: 238px;
    background-color: rgb(19, 19, 19);
    color: white;
}

#services .card p {
    z-index: 1;
    margin: 6px;
}

#services .card img {
    height: 80px;
}

/* --------------CLIENT SECTION-------------- */
#clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(73, 73, 73);
    align-items: center;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    color: white;    
}

#clients:hover{
    background-color: rgb(170, 170, 170);
    color: rgb(0, 0, 0);
}
.client-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.client-item{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.client-item img{
    width: 90px;
    margin: 10px;
    padding: 14px;
}
.client-item h3{
    font-size: 0.8rem;
    font-family: 'Julius Sans One', sans-serif;
}

/* -----------Contact Section-------------- */
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;padding: 20px;
}
#contact:hover{
    background-color: rgb(43, 43, 43);
    color: white;
    font-weight: bold;
}

#contact .contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#contact .form-group{
    font-family: 'Julius Sans One', sans-serif;
    display: flex;
    width: 80vw;
    padding: 11px;
    font-size: 1rem;
    justify-content: center;
    align-items: flex-start;

}
#contact .form-group label{
    padding: 10px;
    width: 75px;
}
#contact .form-group input, #contact .form-group textarea{
    padding: 10px;
    width: 50%;
    border: 2px solid lightblue;
    border-radius: 0px;
    /* background-color: black;
    color: white; */
}
/* #contact .form-group textarea{
    padding: 10px;
    width: 100%;
} */

footer{
    font-family: 'Julius Sans One', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 54px;
}